// === Include your styles here === //

@use "sass:meta";
@use "sass:string";
@use "sass:math";

// === / Include your styles here === //

// === Mixins === //

  //fonts

    @mixin font-style($font-family: null, $font-size: null, $line-height: null, $color: null) {
      @if $font-size != null {
        font-size: #{$font-size}px;
      }

      @if $line-height != null {
        line-height: #{math.div($line-height, 100)};
      }

      @if $color != null {
        color: $color;
      }

      @if $font-family != null {
        @if meta.type-of($font-family) == "number" {
          font-family: string.unquote("Montserrat-#{$font-family}, sans-serif");
        } @else {
          font-family: $font-family;
        }
      }

      font-weight: $font-family;
      font-style: normal;
    }

    @mixin font-size ($max: 48, $min: 16) {
      $maxViewportWidth: 1440;
      $minViewportWidth: 360;

      $maxSize: math.div($max, 16);
      $minSize: math.div($min, 16);
      $maxWidth: math.div($maxViewportWidth, 16);
      $minWidth: math.div($minViewportWidth, 16);

      $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
      $yAxisIntersection: -$minWidth * $slope + $minSize;

      font-size: clamp(
        #{$minSize * 1rem},
        #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
        #{$maxSize * 1rem}
      );
    }

// === / Mixins === //